<h1>ha que c est moi qui ai fait le site</h1>

<%= link_to('home',{:controller => 'pages',:action => 'home'})%>
    <%= link_to('speedtest',{:controller => 'pages',:action => 'speedtest'})%>
    <%= link_to('ranking',{:controller => 'pages',:action => 'ranking'})%>

