<h1>bienvenu à la maison</h1>
<p>que veux tu faire maintenant</p>
    <%= link_to('speedtest',{:controller => 'pages',:action => 'speedtest'})%>
    <%= link_to('ranking',{:controller => 'pages',:action => 'ranking'})%>
    <%= link_to('credit',{:controller => 'pages',:action => 'credit'})%>

