<h1>and the winner is ...</h1>
<p>
  <%= link_to('home',{:controller => 'pages',:action => 'home'})%>
    <%= link_to('speedtest',{:controller => 'pages',:action => 'speedtest'})%>
    <%= link_to('credit',{:controller => 'pages',:action => 'credit'})%>
<p>