<h1>Speed test</h1>

  <%= link_to('home',{:controller => 'pages',:action => 'home'})%>
    <%= link_to('ranking',{:controller => 'pages',:action => 'ranking'})%>
    <%= link_to('credit',{:controller => 'pages',:action => 'credit'})%>

